* {
    padding: 0;
    margin: 0;
    
}
h1 {
    display: block;
    font-size: 3em;
    /* margin-top: 0.67em;
    margin-bottom: 0.67em; */
    margin-left: 40px;
    margin-right: 0;
    font-weight: bold;
    text-align: left;
  }
table {
    width: 100%;
    border-collapse: collapse;
  }
th, td {
    padding: 15px;
    text-align: left;
    border-bottom: 1px solid #ddd;
    text-align: left;
    height: 50px;
    vertical-align: middle;
  }
tr:nth-child(even) {
    background-color: #c7c7c7;
}
tr:hover {background-color: #5c5c5c86;}

.open-button {
    background-color: #9a0e0e;
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    opacity: 0.8;
    position: fixed;
    bottom: 23px;
    right: 28px;
    width: 280px;
    height: 75px;
    font-size: 20px;
  }
  
  /* The popup form - hidden by default */
  .form-popup {
    display: none;
    position: fixed;
    bottom: 0;
    right: 15px;
    border: 3px solid #f1f1f1;
    z-index: 9;
  }
  
  /* Add styles to the form container */
  .form-container {
    max-width: 400px;
    padding: 10px;
    background-color: white;
  }
  
  /* Full-width input fields */
  .form-container input{
    width: 90%;
    padding: 15px;
    margin: 5px 0 22px 0;
    border: none;
    background: #f1f1f1;
  }
  
  /* When the inputs get focus, do something */
  .form-container input[type=text]:focus, .form-container input[type=password]:focus {
    background-color: #ddd;
    outline: none;
  }
  
  /* Set a style for the submit/login button */
  .form-container .btn {
    background-color: #4a4949;
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    width: 100%;
    margin-bottom:10px;
    opacity: 0.8;
  }
  
  /* Add a red background color to the cancel button */
  .form-container .cancel {
    background-color: rgb(182, 182, 182);
  }
  
  /* Add some hover effects to buttons */
  .form-container .btn:hover, .open-button:hover {
    opacity: 1;
  }
  .button {
    
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 8px;
    text-align: center;
    text-decoration: none;
    background-color: rgb(55, 55, 55);
    font-size: 16px;
    
  }
  a:link, a:visited {
    background-color: inherit;
    color: white;

    
  }
  
  .button:hover, .button:active {
    background-color: rgb(15, 15, 15);
  }
